page-videos {
    
    .video-page{
        background-color:#edf5f9;
    }

    .video-title{
        font-size:14px;
        background-color:#f5dd71;
      
        
    }
    
    img{
        
        align-content: center;
        margin:10px auto;
    }
    
}
