navigation-details {
    .pre-surgery-page{
        background-color:#edf5f9; 
        text-size:1.8em; 
        
    }
    
    .pre-surgery-page ion-card-header{
        text-align:center;    
        background-color:#f5dd71;
         
    }
    
    .pre-surgery-page ion-card-header h3{
       //font-size: 1.2em;
    }
    
    .pre-surgery-page div{
         text-size:1.8em; 
    }
    
    .above-below-image{
        margin:auto;
        height:50%;
        width:50%;
    }
    
      .paragraph{
        
        line-height:1.3em; 
        font-size: 1.2em;
    }
    
    .watch-videos{
        background-color:#f5dd71;
        font-size:1.2em;
    }
    
    
 @media only screen and (device-width: 768px) {
        .left-right-image{
            width:25%;
        }
     .above-below-image{
         width:20%;
     }
    
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){
    
       .left-right-image{
            width:25%;
        }
     .above-below-image{
         width:22%;
     }
    }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
         .left-right-image{
            width:25%;
        }
     .above-below-image{
         width:20%;
     }
}
    
    
    
    
}