navigation-details-recovery-timeline{
    
    
      .recovery-timeline-page{
          background-color:#edf5f9; 
        text-size:1.8em; 
        
        
    }
    
    .recovery-timeline-page .main-card{
         background-color:#f5dd71;
    }
    
    .recovery-timeline-page ion-item.title{
        text-align:center;    
        background-color:#f5dd71;
       
         
    }
    
    .recovery-timeline-page ion-item.title h3{
        
        font-size:1em;
    }
   
    
   .above-below-image{
        margin:auto;
        height:50%;
        width:50%;
    }
    
    p.list-item{
        font-size: 1.07em;
        padding: 10px;
        color:#000;
       
    }

   
    
}